@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Youtube Search";
}


<div id="search-control-row" class="row">
    <form class="form-inline col-md-4 col-md-offset-4">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="userInput">
            </div>
        </div>
        <button class="btn btn-primary" type="button" id="SearchVideo">Go!</button>               
    </form>
    <div id="sort-btn-group" class="btn-group col-md-4">
        <button type="button" class="btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Sort results by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="#" class="sort-link" id="like" data-sort="like_count">Most Liked</a></li>
            <li><a href="#" class="sort-link" id="view" data-sort="view_count">Most Views</a></li>
            <li><a href="#" class="sort-link" id="favorite" data-sort="favourite_count">Most Favorites</a></li>
            <li><a href="#" class="sort-link" id="dislike" data-sort="dislike_count">Most Disliked</a></li>
            <li><a href="#" class="sort-link" id="Rank" data-sort="Rank">Rank</a></li>
        </ul>
    </div>
</div>


@*<div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <!-- <span class="input-group-btn">-->
                <!--</span> -->
                <input type="text" class="form-control" placeholder="Search for..." id="userInput">
                <button class="btn btn-default" type="button" id="SearchVideo">Go!</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="sort-link" id="like" data-sort="like_count">Likes</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="sort-link" id="view" data-sort="view_count">Views</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="sort-link" id="favorite" data-sort="favourite_count">favorites</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="sort-link" id="dislike" data-sort="dislike_count">dislikes</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="sort-link" id="Rank" data-sort="Rank">Rank</a></li>

                    </ul>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="search" id="userIndex"></div>*@

<div class="row">
    <div id="results" class="col-md-12"></div>

</div>
@section Scripts
{
    <script src="@Url.Content("~/Content/Scripts/youtubesearch.js")"></script>    
    <script src="~/Content/Scripts/dateformatter.js"></script>
}
