@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin";
}


<h3> Admin Dashboard</h3>


<div class="user-table">
    <div id="Activityresults" class="col-md-12"></div>
</div>


@section Scripts
{
    <script src="@Url.Content("~/Content/Scripts/userActivity.js")"></script>
}




